body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f3f3f3;
    color: #68747D;
    height: 100%;
    max-width: 900px;
    padding: 10px;
    text-align: justify;
    display: block;
    margin: auto;
    overflow: hidden;
}

heading {
    margin-bottom: 1.2em;
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
    margin-top: 0.5em;
    text-align: center;
    color: #CF365F;
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-flow: wrap row;
    padding: 2em;
}


/* flyer */
.right-main {
    flex: 1;
    padding: 10px;
}

.right-main img {
    max-width: 500px;
    height: auto;
}

/* footer */
footer {
    text-align: center;
    margin-bottom: 1.2em;
    padding: 0.5em 0; 
}

/* media queries */
@media screen (max-width: 800px) {
    .main-container {
        display: flex;
        flex-wrap: wrap-reverse;
        width: 50%;
        margin: auto;
    }

    .right-main img {
        max-width: 50%;
    }

}
