body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f3f3f3;
    color: #68747D;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    text-align: justify;
}

heading {
    margin-bottom: 1.2em;
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
    margin-top: 0.5em;
    text-align: center;
    color: #CF365F;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding: 2em;
}


/* flyer */
.right-main {
    flex: 1;
    padding: 10px;
    max-width: 500px;
}

.right-main img {
    max-width: 100%;
    height: auto;
}

/* footer */
footer {
    text-align: center;
}

/* media queries */
@media screen only and (max-width: 700px) {
    .main-container {
        max-width: 100%;
        display: block;
    }
 .right-main {
     width: 100%;
 }
 .left-text {
     width: 100%;
 }
}
